.tes-row{
	display: block;
	position: relative;
}
.tes-row:after{
	content:'';
	display: block;
    clear: both;
}
.tes-col{

}
.tes-col-1,.tes-col-2,.tes-col-3,.tes-col-4,.tes-col-5,.tes-col-6,.tes-col-7,.tes-col-8,.tes-col-9,.tes-col-10,.tes-col-11,.tes-col-12,.tes-col-13,.tes-col-14,.tes-col-15,.tes-col-16,.tes-col-17,.tes-col-18,.tes-col-19,.tes-col-20,.tes-col-21,.tes-col-22,.tes-col-23,.tes-col-24{
	float: left;
}
.tes-col-24{
	display: block;
	box-sizing: border-box;
	width:100%;
}
.tes-col-23{
	display: block;
	box-sizing: border-box;
	width:95.8333%;
}
.tes-col-22{
	display: block;
	box-sizing: border-box;
	width:91.66%;
}
.tes-col-21{
	display: block;
	box-sizing: border-box;
	width:87.5%;
}
.tes-col-20{
	display: block;
	box-sizing: border-box;
	width:83.33%;
}
.tes-col-19{
	display: block;
	box-sizing: border-box;
	width:79.166%;
}
.tes-col-18{
	display: block;
	box-sizing: border-box;
	width:75%;
}
.tes-col-17{
	display: block;
	box-sizing: border-box;
	width:70.83%;
}
.tes-col-16{
	display: block;
	box-sizing: border-box;
	width:66.66%;
}
.tes-col-15{
	display: block;
	box-sizing: border-box;
	width:62.5%;
}
.tes-col-14{
	display: block;
	box-sizing: border-box;
	width:58.33%;
}
.tes-col-13{
	display: block;
	box-sizing: border-box;
	width:54.16%;
}
.tes-col-12{
	display: block;
	box-sizing: border-box;
	width:50%;
}
.tes-col-11{
	display: block;
	box-sizing: border-box;
	width:45.83%;
}
.tes-col-10{
	display: block;
	box-sizing: border-box;
	width:41.66%;
}
.tes-col-9{
	display: block;
	box-sizing: border-box;
	width:37.5%;
}
.tes-col-8{
	display: block;
	box-sizing: border-box;
	width:33.33%;
}
.tes-col-7{
	display: block;
	box-sizing: border-box;
	width:29.16%;
}
.tes-col-6{
	display: block;
	box-sizing: border-box;
	width:25%;
}
.tes-col-5{
	display: block;
	box-sizing: border-box;
	width:20.83%;
}
.tes-col-4{
	display: block;
	box-sizing: border-box;
	width:16.66%;
}
.tes-col-3{
	display: block;
	box-sizing: border-box;
	width:12.5%;
}
.tes-col-2{
	display: block;
	box-sizing: border-box;
	width:8.33%;
}
.tes-col-1{
	display: block;
	box-sizing: border-box;
	width:4.16%;
}