.mybutton{
	cursor: pointer;
	border: none;
	padding: 0 10px;
	min-width: 80px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	color: #fff;
}
.bu-normal{
	background: #1890ff;
}
.bu-inner{
	background:#e71a1a;
	border:1px solid #e71a1a;
}